<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Remote_User_Folder" value="\\10.10.1.9\SC_Backup\July_2016"/>
    <add key="Remote_Map_Drive" value="P"/>
    <add key="Remote_UserId" value="sjangid"/>
    <add key="Remote_UserPwd" value="satima_20"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>